@import './markdown.css';

html,
body,
#app {
  transition: all 0.2s ease;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html.dark {
  background: #121212;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-blue-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  height: 2rem;
  min-width: 6rem;

  @apply px-4 rounded inline-flex justify-center items-center
    bg-blue-600 text-white cursor-pointer bg-opacity-60
    hover:shadow-md
    transition
    disabled:cursor-default disabled:bg-gray-500 disabled:opacity-50 disabled:bg-opacity-30 disabled:hover:shadow-transparent
    active:outline-none focus:outline-none
    ;
}

.icon-btn {
  @apply inline-flex justify-center items-center cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-blue-600;
}

.highlight {
  font-style: normal;
  color: red;
}
